:root{

    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-0-1: .1rem;
    --mb-0-1-5: 1.5rem;
    --mb-2: 2rem; 
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100; 
    --z-modal: 1000;
}

html{
    scroll-behavior: smooth;
}

/* ----------ABOUT---------- */
.about__img{
    width: 350px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    margin: 2rem 0rem;
    position: absolute;
    top: 10%;
    left: 2%;
}

.about__content{
    position: relative;
    margin: 0;
}

.about__bg{
    fill: blue;
}

.about__description{
    text-align: center;
    margin-bottom: 1rem;
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.about__info-title{
    font-size:1.5rem; 
    font-weight: 600;
    color: black;
}

.about__info-name{
    font-size: .75rem;
}

.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__button{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 600;
}

.about__icon{
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: all 0.4s;
}

@keyframes about_animated {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.about__buttons:hover .about__button-icon {
    animation: bounce 1s infinite;
}


/* ----------SKILS---------- */
.skills{
    margin-top: 2rem;
}
.skills__content{
    transition: all .4s ease-in-out;
}

.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.skills__icon, .skills__arrow{
    font-size: 2rem;
    color: black;
}
.skills__icon{
    margin-right: 0.75rem;
}

.skills__title{
    font-size: 1.125rem;
    font-weight: 700;
}

.skills__subtitle{
    font-size: .850rem;
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.3rem;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills__name{
    font-size: .938rem;
    font-weight: 400;
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: gray;
}

.skills__html{
    width: 90%;
}
.skills__css{
    width: 70%;
}
.skills__java{
    width: 80%;
}
.skills__react{
    width: 90%;
}
.skills__php{
    width: 50%;
}
.skills__node{
    width: 80%;
}
.skills__python{
    width: 90%;
}
.skills__firebase{
    width: 70%;
}
.skills__figma{
    width: 60%;
}
.skills__sketch{
    width: 40%;
}
.skills__photoshop{
    width: 70%;
}
.skills__canva{
    width: 70%;
}
.skills__seo{
    width: 70%;
}
.skills__sem{
    width: 70%;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

.scrollup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2.5rem;
    bottom: 4rem;
    opacity: .8;
    border-radius: 999px;
    z-index: 1000;
    transition: .4s;
}

.scrollup__icon{
    font-size: 1.6rem;
}


/* ----------CONTACT---------- */

.contact__container{
    margin-top: 1.5rem;
    row-gap: 3rem;

}
.contact__information{
    display: flex;
    margin-bottom: 2rem;    
}

.contact__icon{
    font-size: 2rem;
    color: black;
    margin-right: .75rem;
    margin-left: 1rem;
}

.contact__title{
    font-size: 1.125rem;
    font-weight: 500;
}

.contact__subtitle{
    font-size: .8rem;
}

.contact__content{
    border-radius: .5rem;
    padding: .5rem 1rem .20rem;
    margin: 0.5rem;
}

.contact__buttons{
    display: flex;
    justify-content: start;
    align-items: center;
}

.contact__button{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-weight: 600;
    margin: 0.3rem 0.3rem;
}

.contact__input{
    width: 100%;
    background-color: transparent;
    color: gray;
    font-size: medium;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.contact__button-icon{
    margin-left: 0.5rem;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #C7CCD9 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: gray !important;
}

/* Dispositivos Medianos */
@media screen and (min-width: 568px) {
    .skills__container{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .skills__content{
        margin-left: 2rem;
    }
    .skills__list{
        padding-left: 2rem;
        padding-right: .7rem;
    }
    .about__container,
    .contact__container{
        margin-top: 2rem;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    .about__img{
        width: 400px;
    }
    .about__data{
        margin-top: 0.5rem;
    }
}


@media screen and (min-width: 768px){
    
}

/* Dispositivos largos */
@media screen and (min-width: 1024px){
    .about__container{
        padding: 0 2.5rem;
    }
    .about__data{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3rem 0rem;
    }
    .about__img{
        width: 500px;
    }
    .about__info-title{
        font-size: 2rem;
    }
    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact{
        margin-left: auto;
        margin-right: auto;
    }
}